<!DOCTYPE html>
<html>
  <head>
    <title>Hope you like the Silmarillion!!</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Hope you like the Silmarillion!!</a></h1>
    </header>

    <!-- <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">As the ages passed </a></h2>
      <p>
        the Vanyar grew to love the land of the Valar and the full light of the
        Trees, and they forsook the city of Tirion upon Tuna, and dwelt
        thereafter upon the mountain of Manwe, or about the plains and woods of
        Valinor, and became sundered from the Noldor. But the memory of
        Middle-earth under the stars remained in the hearts of the Noldor, and
        they abode in the Calacirya, and in the hills and valleys within sound
        of the western sea; and though many of them went often about the land of
        the Valar, making far journeys in search of the secrets of land and
        water and all living things, yet the peoples of Tuna and Alqualonde drew
        together in those days. Finwe was king in Tirion and Olwe in Alqualonde;
        but Ingwe was ever held the High King of all the Elves. He abode
        thereafter at the feet of Manwe upon Taniquetil.
      </p>
    </article>

    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">Feanor and his sons </a></h2>
      <p>
        abode seldom in one place for long, but travelled far and wide upon the
        confines of Valinor, going even to the borders of the Dark and the cold
        shores of the Outer Sea, seeking the unknown. Often they were guests in
        the halls of Aule; but Celegorm went rather to the house of Orome, and
        there he got great knowledge of birds and beasts, and all their tongues
        he knew. For all living things that are or have been in the Kingdom of
        Arda, save only the fell and evil creatures of Melkor, lived then in the
        land of Aman; and there also were many other creatures that have not
        been seen upon Middle-earth, and perhaps never now shall be, since the
        fashion of the world was changed.
      </p>
    </article> -->
    {% for post in posts %}
    <article>
      <time>published: {{ post.published_date }}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}
  </body>
</html>
