h1, h2, p, article {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 a, h2 a {
  color:white;
}

html, 
body {
    height: 100%;
    background-image: linear-gradient(white, black);
}
